<ng-container *ngIf="step && step.formGroup">
	<form [formGroup]="step.formGroup" class="form">
		<div *ngIf="step.formType === 'FormArray'">
			<ng-container *ngTemplateOutlet="formArray"></ng-container>
		</div>

		<div *ngIf="step.formType === 'FormGroup'" class="form-group">
			<ng-container *ngTemplateOutlet="formGroup; context: { formFields: step.fields}"></ng-container>
		</div>

		<div class="buttons-container">
			<button *ngIf="!step.isInitialStep" (click)="$$previous()" matStepperPrevious mat-flat-button>
				Back
			</button>
			<button *ngIf="!step.isFinalStep" (click)="$$next()" [disabled]="!step.formGroup.valid" mat-flat-button>
				Next
			</button>
			<button *ngIf="step.isFinalStep" mat-flat-button [disabled]="!step.formGroup.valid" (click)="$$submit()">
				Submit
			</button>
			{{step.formGroup.valid}}
		</div>

		<ng-template #formGroup let-formFields="formFields">
			<div class="fields">
				<div *ngFor="let field of formFields" class="field">
					<ng-container *ngIf="$$isInput(field)">
						<label [for]="field.fieldName">
							{{ field.fieldLabel}}
						</label>
						<input [type]="field.fieldType" [id]="field.fieldName" [formControlName]="field.fieldName">
					</ng-container>
					<ng-container *ngIf="field.fieldType === 'checkbox'">
						<label [for]="field.fieldName">
							<input type="checkbox" name="checkbox" [formControlName]="field.fieldName" />
							{{ field.fieldLabel}}
						</label>
					</ng-container>
					<ng-container *ngIf="field.fieldType === 'dropdown'">
						<label [for]="field.fieldName">
							{{ field.fieldLabel}}
						</label>
						<select [name]="field.fieldType" [formControlName]="field.fieldName">
							<option value="" disabled selected>Select an option</option>
							<ng-container *ngFor="let dv of field.dropdownValues">
								<option [value]="dv">{{dv}}</option>
							</ng-container>
						</select>
					</ng-container>
				</div>
			</div>
		</ng-template>

		<ng-template #formArray>
			<ng-container *ngFor="let af of step.formArrayFields">
				<div [formArrayName]="af.controlName">
					<div *ngFor="let control of $$getControls(af.controlName)?.controls; let i = index"
						[formGroupName]="i" class="form-array">
						<div class="fields">
							<div *ngFor="let field of step.fields" class="field">
								<label [for]="field.fieldName">
									{{ field.fieldLabel}}
								</label>
								<ng-container *ngIf="field.fieldType !== 'dropdown'">
									<input [type]="field.fieldType" [formControlName]="field.fieldName">
								</ng-container>
								<ng-container *ngIf="field.fieldType === 'dropdown'">
									<select [name]="field.fieldType" [formControlName]="field.fieldName">
										<option value="" disabled selected>Select an option</option>
										<ng-container *ngFor="let dv of field.dropdownValues">
											<option [value]="dv">{{dv}}</option>
										</ng-container>
									</select>
								</ng-container>
								<!-- <ng-container
									*ngTemplateOutlet="formGroup; context: { formFields: step.fields}"></ng-container> -->

							</div>
						</div>
						<button (click)="$$removeFormGroup(af.controlName,i)" mat-flat-button class="ex-button">
							Remove {{step.stepTitle}}
						</button>
					</div>
				</div>
				<button (click)="$$addFormGroup(af.controlName)" mat-flat-button class="ex-button">Add
					{{step.stepTitle}}
				</button>
			</ng-container>
		</ng-template>
	</form>
</ng-container>