<ng-container *ngIf="step && step.stepFormGroup">
	<form [formGroup]="step.stepFormGroup">
		<div>
			<ng-container *ngFor="let field of step.formFields">
				<label [for]="field.controlName">
					{{ field.controlName | titlecase }}
				</label>
				<ng-container *ngIf="field.controlType !== 'dropdown'">
					<input [type]="field.controlType" [formControlName]="field.controlName">
				</ng-container>
				<ng-container *ngIf="field.controlType === 'dropdown'">
					<select [name]="field.controlType" [formControlName]="field.controlName">
						<option value="" disabled selected>Select an option</option>
						<ng-container *ngFor="let dv of field.dropdownValues">
							<option [value]="dv">{{dv}}</option>
						</ng-container>
					</select>
				</ng-container>
			</ng-container>
		</div>
		<div>
			<button *ngIf="!step.isInitialStep" matStepperPrevious mat-raised-button>Back</button>
			<button *ngIf="!step.isFinalStep" [disabled]="!step.stepFormGroup.valid" mat-flat-button
				matStepperNext>Next</button>
			<button *ngIf="step.isFinalStep" (click)="$$submit()" mat-flat-button>Submit</button>
		</div>
		{{step.stepFormGroup.valid}}
	</form>
</ng-container>