:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width:100%;
	mat-stepper {
		padding: 16px;
	}
	
}


@media (width > 600px) {
	mat-stepper {
		width: 600px;
	}
}

@media (width < 600px) {
	mat-stepper {
		width: 400px;
	}
}

