:host {
	margin: auto 0;
	display: block;

	mat-stepper {
		padding: 16px;
	}

	mat-card {
		padding: 16px;
	}
}


@media (width > 600px) {
	:host {
		width: 600px;
	}
}

@media (width < 600px) {
	:host {
		width: 400px;
	}
}

