/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
}

html,
body,
app-root {
	height: 100%;
	margin: 0;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

input,
select {
	width: 240px;
	height: 40px;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 8px;
	border-radius: 5px;
	border: 1px #ddd solid;
	outline: none;
}

label{
	font-size: 12px;
}

